{% extends "layouts/base.html" %}

{% block title %} Password Reset {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h4>Forgot Password?</h4>
                    <hr>
                    <div class="alert alert-info">
                        Enter email and a mail will be sent with instructions to reset password
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        {{ password_form|crispy }}
                        <input class="btn btn-primary btn-block" type="submit" value="Reset Password">
                    </form>
                    <hr>
                </div>
                <div class="card-footer text-center">
                    <div class="col-md-10 offset-md-1">
                        <a href="{% url 'register' %}">Create A New Account</a><br><br>
                        <a href="{% url 'login' %}">Back To Login</a><br>
                    </div>
                </div>
            </div>
        </div>
  </div>
</div>
{% endblock content %}