    <div class="sidebar" data-color="orange" data-background-color="white">
      <div class="logo">
        <a target="_blank" rel="noopener noreferrer" href="/index.html" class="simple-text"  data-image="/static/assets/img/gc-logo.png">
          <img src="/static/assets/img/faces/gc-logo.png" alt="GoCrypt" width="225px" height="100px"/>
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
        {% if request.user.is_authenticated %}

          <li class="nav-item {% if 'index' in segment %} active {% endif %}">
            <a class="nav-link" href="/index.html">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item {% if 'page-user' in segment %} active {% endif %}">
            <a class="nav-link" href="/page-user.html">
              <i class="material-icons">person</i>
              <p>Market</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-tables.html">
              <i class="material-icons">content_paste</i>
              <p>Portfolio</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-notifications' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-notifications.html">
              <i class="material-icons">notifications</i>
              <p>Notifications</p>
            </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link" href="{% url 'logout' %}" >
              <i class="material-icons">directions_run</i>
              <p>Logout</p>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

    </div>
