{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-12">
    <div class="card-title">
      <div class="card-header pre-scrollable">
        <h3><b>Welcome {{ user.get_username }}!</b></h3>
            <h6 class="card-title">Daily news article</h6>
                {% for x in api.Data %}
                <div class="row">
                  <div class="col-xl-2">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                      <img src="{{ x.imageurl }}" alt="{{ x.source }}" class="img-fluid" />
                      <a href="{{ x.url }}">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                      </a>
                    </div>
                  </div>
                
                  <div class="col-xl-6 mb-4">
                    <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">News of the day</span>
                    <h4><strong>{{ x.title }}</strong></h4>
                    <p class="text-muted">
                      {{ x.body|slice:"420" }}...
                    </p>
                    <a href="{{ x.url }}" target="_blank" ><button type="button" class="btn btn-primary" >Read more</button></a>
                  </div>
                </div>
                <hr>
                {% endfor %}
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">access_time</i> Live updates
                </div>
            </div>
        </div>
      </div>
      
      <div class="col-sm">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <script src="https://widgets.coingecko.com/div/coingecko-coin-price-chart-widget-div.js"></script>
              <coingecko-coin-price-chart-widget  coin-id="bitcoin" currency="usd" height="300" width="600" locale="en"></coingecko-coin-price-chart-widget>
            </div>
            <h3 class="card-title">Bitcoin</h3>
            <p class="card-category">Daily BTC Statistics</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> Live updates
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <script src="https://widgets.coingecko.com/coingecko-coin-price-chart-widget.js"></script>
              <coingecko-coin-price-chart-widget  coin-id="ethereum" currency="usd" height="300" width="600" locale="en"></coingecko-coin-price-chart-widget>
            </div>
            <h3 class="card-title">Ethereum</h3>
            <p class="card-category">Daily ETH Statistics</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> Live updates
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
